* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

figure {
  width: 300px;
  margin: 15px 0;
  text-align: center;
}
figcaption {
  margin-top: 5px;
}

.background {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.light-background {
  background: #e2a2bb;
}

.light-background figcaption, 
.light-background h2 {
  color: #162556;
}

.dark-background {
  background: #162556;
}

.dark-background figcaption,
.dark-background h2 {
  color: #e2a2bb;
}

.white-background {
  background: #fff;
}

.square {
  padding: 0;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  z-index: 0;
}

.square > img {
  z-index: 1;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.blend-difference img {
  mix-blend-mode: difference;
}

.blend-screen {
  mix-blend-mode: screen;
}

header {
  position: sticky;
  top: 0;
  padding: .5rem 0;
  background: #fff;
  z-index: 5;
}
footer {
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  background: #fff;
  z-index: 5;
}

footer small {
  font-size: .7rem;
}

a {
  color: #471577;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  font-weight: 400;
}